body {
  background: linear-gradient(
    109.7deg,
    rgb(202, 50, 50) 5.7%,
    rgb(252, 195, 12) 92.4%
  );
}

.container {
  background-image: url("../superhero-app/images/The-Avengers-Poster.webp");
  width: 750px;
  height: 640px;
}

.main-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(252, 195, 12);
}

h1 {
  color: red;
}

.hero-word {
  color: #ffff;
}

.search-bar {
  width: 250px;
  height: 30px;
  background: grey;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 5px;
  margin: 20px;
}

.icon {
  width: 1.3em;
  height: 1.2em;
  background-color: transparent;
}

.info-page {
  color: #ffff;
}
